<div class="card">
  <div class="card-block post-card">
    <%= link_to gravatar_for(newspost.user, size: Settings.avatar.size_home),
      newspost.user %>
    <span class="user"><%= link_to newspost.user.name, newspost.user %></span>
    <h4 class="card-title title"><%= newspost.title %></h4>
    <div class="card-t">
      <%= newspost.content %>
      <%= image_tag newspost.picture.url if newspost.picture? %>
      <span class="timestamp">
        <small>
          <%= t ".post" %> <%= time_ago_in_words(newspost.created_at) %> ago.
          (<%= newspost.comments.size %> <%= t ".comments" %>)
        </small>
        <% if logged_in? %>
          <% if current_user.current_user?(newspost.user) %>
            <%= link_to "Edit", edit_newspost_path(newspost), class: "btn-sm btn-warning"%>
            <%= link_to t(".delete"), newspost, method: :delete,
              data: {confirm: t(".you_sure")}, class: "btn-sm btn-danger" %>
          <% end %>
        <% end %>
        <br>
        <ul class="commentList", id="comments-list-<%= newspost.id %>">
          <%= render partial: "newsposts/comment", collection: newspost.comments, as: "comment" %>
        </ul>
        <% if logged_in? %>
          <% if current_user.following?(newspost.user) or current_user.current_user?(newspost.user) %>
            <div id="comment-form-<%= newspost.id %>">
              <%= render "newsposts/comment_form", newspost: newspost, comment: newspost.comments.build %>
            </div>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
</div>
